.table tbody {
    width: 100%;
}

.table tbody tr {
    height: 54px;
}

.table tbody tr > td {
    height: 54px;
}

.table tbody tr > td > div {
    white-space: pre-line;
    height: 33px;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .separator {
    background: #efeded;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
}