/**
* GWT leaflet CSS
*/

.map {
    width: 500px;
    height: 250px;
    margin: 15px;
}
.fields {
    margin-left: 15px;
}

.lasso-control-enabled .leaflet-control-lasso {
    background-color: #7fff00;
}

.lasso-control-enabled .leaflet-control-lasso:hover {
    background-color: #8ce436;
}

.leaflet-marker-pane .leaflet-marker-icon.selected{
    filter: hue-rotate(135deg);
}