.submenu {
    margin-left:10px;
}

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.b-top {
    z-index:2600;
    position:fixed;
    left:0;
    bottom:50px;
    width:34%;
    margin-left: 0%;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.b-top:hover {
    opacity:1;
    filter:alpha(opacity=100);
    cursor:pointer;
}
.b-top-but {
    z-index:2600;
    position:absolute;
    display:block;
    left:56px;
    bottom:0;
    margin:0 0 0 0%;
    padding:32px 12px 4px;
    color:white;
    background:#333333 url( /img/b-j-top.png ) no-repeat 50% 11px;
    border-radius:7px;
}

.required-field-indicator {
    color: red;
}

.date .btn {
    /*line-height: 1.328571429;*/
    line-height: 1.321991429;
}

.modalPopupPanel {
    overflow:auto;
    position:relative;
}

.formLogin {
    margin-top: 35%;
}
